/* MAIN PAGE */
h3, a, p {
    color:#000022;
}
.navbar {
    background-color: #7D98A1;
}

.navbar a {
    color: #000022;
}

.navbar ul > li > a:hover{
    background-color: #A9B4C2;
}

#loginSignupBtn {
    text-decoration: none;
}

#loginSignupBtn:hover {
    text-decoration: underline;
}

body {
    background-color: #EEF1EF;
}

.activityTitle {
    text-decoration: none;
}

.activityTitle:hover{
    color: #000022;
    text-decoration: underline;
}

#seeMore {
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.centered:hover {
    color: #00002270;
}


/* LOGIN PAGE */
.custom-login-background {
   background: #4b6cb7;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a > #loginBtn {
    color: white;
}
a > #loginBtn:hover {
    color: #000022;
}